<div class="col-md-6">
  <section class="panel panel-collapsed">
    <header class="panel-heading">
      <div class="panel-actions">
        <a href="#" class="panel-action panel-action-toggle" data-panel-toggle=""></a>
        <a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss=""></a>
      </div>

      <h2 class="panel-title">
        <%= txt_title_mail_rank %>
        </h2>
      <p class="panel-subtitle">
        <%= txt_content_mail_rank %>
      </p>
    </header>
    <div class="panel-body">

      <button id="btn-mail-rank" class="btn btn-primary hidden-xs">补发排行榜邮件</button>
      
    </div>
  </section>
</div>